<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layout/layoutpadrao}" >

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Cadastrar Pedido</title>
</head>

<body>
<main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

    <h1 class="ms-16 text-xl md:text-2xl">Novo Pedido</h1>

    <form th:hx-post="@{/pedido/cadastrar}" th:object="${pedidoDTOInput}" class="w-1/2 mt-5 ms-16">

        <div th:replace="~{components/forms :: inputData(
        textoLabel='Data do Pedido',
        nomeAtributo='data',
        isValidado=true)}"></div>

        <div th:replace="~{components/forms :: inputBuscavel(
            textoLabel='Cliente',
            nomeAtributo='cliente',
            valorAtributo=${pedidoDTOInput.cliente != null ? pedidoDTOInput.cliente.codigo : -1},
            textoAtributo=${pedidoDTOInput.cliente != null ? pedidoDTOInput.cliente.nome : 'Selecione uma opção'},
            placeholderBusca='Buscar cliente...',
            urlBusca='/pedido/pesquisarcliente',
            isValidado=true)}"></div>

        <button type="submit"
                class="mt-7 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Criar pedido e adicionar itens</button>
    </form>

</main>
</body>

</html>