<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layout/layoutpadrao}" >

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Alterar Teste</title>
</head>

<body>
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

    <h3>Input Desabilitado - Alterar - Precisa receber um objeto do model</h3>

    <h1 th:text="${teste}"></h1>
    
    <form th:hx-post="@{/teste/alterar}" th:object="${teste}" class="w-1/2 mt-10 ms-16">
      <div th:replace="~{components/forms :: inputTexto(
        textoLabel='Código', 
        nomeAtributo='codigo',
        isValidado=true,
        isDisabled=true)}"></div>
            
        <div th:replace="~{components/forms :: inputTexto(
        textoLabel='Nome', 
        nomeAtributo='nome',
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputEmail(
        textoLabel='E-mail', 
        nomeAtributo='email',
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputSenha(
        textoLabel='Senha', 
        nomeAtributo='senha',
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputCpf(
        textoLabel='CPF', 
        nomeAtributo='cpf',
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputDinheiro(
        textoLabel='Salário', 
        nomeAtributo='valor',
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputData(
        textoLabel='Nascimento', 
        nomeAtributo='data',
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputHora(
        textoLabel='Hora', 
        nomeAtributo='hora',
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputNumero(
        textoLabel='Quantidade', 
        nomeAtributo='qtd',
        showGroups=true,
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputNumero(
        textoLabel='Peso (Kg)', 
        nomeAtributo='peso',
        isDecimal=true,
        showGroups=false,
        isValidado=true)}"></div>

      <div th:replace="~{components/forms :: inputTextArea(
        textoLabel='Observações', 
        nomeAtributo='observacao',
        isValidado=true)}"></div>

      <div th:with="valoresEnum=${T(web.controlevacinacao.model.Opcoes).values()}">
        <div th:replace="~{components/forms :: checkboxMultiplo(
          textoLabelGroup='Escolha as opções', 
          nomeAtributo='opcoes',
          listaOpcoes=${valoresEnum}, 
          propLabel='descricao',
          isValidado=true)}">
        </div>
      </div>

      <div th:with="valoresEnum=${T(web.controlevacinacao.model.Opcoes).values()}">
        <div th:replace="~{components/forms :: inputRadio(
          textoLabelGroup='Escolha uma Opção', 
          nomeAtributo='opcao',
          listaOpcoes=${valoresEnum}, 
          propLabel='descricao',
          isValidado=true)}">
        </div>
      </div>

      <button type="submit" class="mt-7 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Alterar</button>
    </form>

  </main>
  <!-- !conteudo principal -->

</body>

</html>