<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layout/layoutpadrao}" >

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Alterar Produto</title>
</head>

<body>
<main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

    <h1 th:if="${produtoDTOInput == null}" class="text-2xl md:text-4xl text-center">Não foi encontrado produto com esse código</h1>

    <form th:if="${produtoDTOInput != null}" th:hx-post="@{/produto/alterar}" th:object="${produtoDTOInput}" class="w-1/2 mt-10 ms-16">

        <div th:replace="~{components/forms :: inputTexto(
        textoLabel='Código',
        nomeAtributo='codigo',
        isValidado=true,
        isDisabled=true)}"></div>

        <div th:replace="~{components/forms :: inputTexto(
        textoLabel='Nome',
        nomeAtributo='nome',
        isValidado=true)}"></div>

        <div th:replace="~{components/forms :: inputTexto(
        textoLabel='Descrição',
        nomeAtributo='descricao',
        isValidado=true)}"></div>

        <div th:replace="~{components/forms :: inputDinheiro(
        textoLabel='Preço',
        nomeAtributo='preco',
        isValidado=true)}"></div>

        <button type="submit" class="mt-7 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Alterar</button>
    </form>

</main>
</body>

</html>