<th:block th:fragment="lista" xmlns:th="http://www.thymeleaf.org">
    <li th:if="${#lists.isEmpty(lotes)}" class="p-2 text-gray-500 italic cursor-default pointer-events-none">
        Nenhum lote encontrado.
    </li>

    <li th:each="lote : ${lotes}" class="p-2 hover:bg-gray-100 cursor-pointer" 
        th:data-value="${lote.codigo}" 
        th:data-text="${lote.vacina.nome + ' - ' + lote.validade + ' - ' + lote.nroDosesAtual + ' doses'}"
        th:text="${lote.vacina.nome + ' - ' + lote.validade + ' - ' + lote.nroDosesAtual + ' doses'}">
    </li>
</th:block>
