<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Pesquisar Lote</title>
</head>

<body>
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

    <h1 class="ms-16 text-xl md:text-2xl">Pesquisa de Lote</h1>

    <form th:hx-get="@{/lote/pesquisar}" class="w-2/3 mt-10 ms-16">
      <div class="flex">
        <div class="flex-1 mr-10">
          <div th:replace="~{components/forms :: inputNumero(
            textoLabel='Cõdigo', 
            nomeAtributo='codigo')}"></div>
        </div>
        <div class="flex-1">
          <div th:replace="~{components/forms :: inputBuscavel(
                textoLabel='Vacina',
                nomeAtributo='vacina',
                placeholderBusca='Buscar vacina...',
                urlBusca='/lote/pesquisarvacina'
      )}"></div>
        </div>
      </div>

      <div class="flex">
        <div class="flex-1 mr-10">
          <div th:replace="~{components/forms :: inputData(
            textoLabel='Validade a partir de', 
            nomeAtributo='validadeInicial')}"></div>
        </div>
        <div class="flex-1">
          <div th:replace="~{components/forms :: inputData(
            textoLabel='Validade até', 
            nomeAtributo='validadeFinal')}"></div>
        </div>
        </div>
      </div>

       <div class="flex">
        <div class="flex-1 mr-10">
          <div th:replace="~{components/forms :: inputNumero(
            textoLabel='Número de doses atual a partir de', 
            nomeAtributo='nroDosesAtualInicial')}"></div>
        </div>
        <div class="flex-1">
          <div th:replace="~{components/forms :: inputNumero(
            textoLabel='Número de doses atual até', 
            nomeAtributo='nroDosesAtualFinal')}"></div>
        </div>
      </div>
      
      <button type="submit" class="mt-8 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Pesquisar</button>
    </form>

  </main>
  <!-- !conteudo principal -->

  <!-- Nao usamos
	<th:block layout:fragment="scripts">
		<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
	</th:block> -->
</body>

</html>